*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 100;
    background: fixed #000;
}

.cabecalho{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 24px;
}


.cabecalho-menu {
    display: flex;
    gap: 32px;
}

.cabecalho-menu-item {
    font-family: 'Trispace', sans-serif;
    color: #ff96d5;
    font-weight:400;
    font-size: 18px;
}

.conteudo {
    margin-bottom: 40px;
}

.conteudo-principal {
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.rodape {
    padding: 32px;
    border-top: 0.4px solid #ff96d5;
}

.rodape-texto-principal-monique {
   height: 100px;
   display: flex;
   flex-direction: row;
   justify-content: center;
   margin-top: 48px;
   

}
