@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&family=Open+Sans:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    height: 2000px;
    background: hsla(25, 100%, 86%, 1);
background: linear-gradient(270deg, hsla(25, 100%, 86%, 1) 10%, hsla(8, 74%, 92%, 1) 100%);
background: -moz-linear-gradient(270deg, hsla(25, 100%, 86%, 1) 10%, hsla(8, 74%, 92%, 1) 100%);
background: -webkit-linear-gradient(270deg, hsla(25, 100%, 86%, 1) 10%, hsla(8, 74%, 92%, 1) 100%);
filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#FFD7BA", endColorstr="#FAE1DD", GradientType=1 );
}

.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
}
  
  .cabecalho-menu {
    display: flex;
    gap: 32px;
  }
  
  .cabecalho-menu-item {
    font-family: 'Sarala', sans-serif;
    color: #000;
    font-weight: 400;
    font-size: 18px
}

.conteudo {
    margin-bottom: 48px;
    border-top: 0.4px solid #000;
  }
  
  .conteudo-principal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
  
  .conteudo-principal-escrito {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }
  
  .conteudo-principal-escrito-titulo {
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 64px;
    color: #000;
  }
  
  
  .conteudo-principal-escrito-botao {
    background-color: #FEC5BB;
    width: 180px;
    height: 60px;
    border: none;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #2F2325;
  }
  
  .conteudo-principal-escrito-botao:hover {
    background-color: #cea39b;
  }
  
  .conteudo-principal-imagem {
    height: 430px;
  }

  .conteudo-secundario {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-top: 48px;
  }
  
  .conteudo-secundario-titulo {
    border-top: 0.4px solid #000;
    padding-top: 48px;
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 24px;
    color: #000;
    margin-bottom: 16px;
  }
  
  .conteudo-secundario-paragrafo {
    font-family: 'Sarala', sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: #000;
  }
  
/* Este é o inicio dos cards. */


.Container{
    width: 100%;
    padding: 300px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-top: 48px;
}

.titletwo h3{
    padding-top: 48px;
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 96px;
    color: #000;
    margin-bottom: 16px;
}
.Caixa{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
    flex-wrap: wrap;
}

.Card{
    background: #191919;
    height: 365px;
    width: 335px;
    border-radius: 20px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    text-align:  center;
    
}

.Card i{
    font-size: 50px;
    display: block;
    text-align: center;
    margin: 25px 0px;
    color: #f9004d;
}

h5{
    color: #fff;
    font-size: 23px;
    margin-bottom: 15px;
}

.Paragrafo-button{
    color: #fcfc;
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 25px;
}

.Paragrafo-button button{
    margin-top: 25px;
}

/* inicio do footer   */

.rodape {
    padding: 32px;
    border-top: 0.4px solid #000;
}
